@page "/trader/transactions"
@using Experts.Trader.FindTransactions
@using System.ComponentModel
@inject NavigationManager NavigationManager

@inject IView view;

<PageTitle>Trade Execution Page</PageTitle>

<p>
    This page allows Traders to execute manual trades when necessary, providing a more hands-on approach.
</p>

<p>
    <Set Columns="transationColumns" Rows="viewModel.Transactions"></Set>
</p>
Elements:
<br />
Order Entry Form: Traders can select the asset, choose the order type (market, limit, stop), and specify the quantity and price.
<br />
Order Book: Displays the real-time order book for the selected asset, allowing Traders to see market depth and place trades accordingly.
<br />
<br />

@code {
    List<Expression<Func<ViewModel.TransactionVM, object>>> transationColumns = [];
    ViewModel viewModel;
    string Name;
    CancellationTokenSource tcs = new();

    protected override async Task OnInitializedAsync() {
        transationColumns.Add(x => x.Id);
        transationColumns.Add(x => x.Name);
        
        var userId =  "123"; //context.User.Identity?.Name;
        var rm = new RequestModel(Name, userId); 
        viewModel = await view.Execute(rm, tcs.Token);
       
    }
}
