@page "/trader/transactions"

@using Experts.Trader.ReadTransactions;

@inject Feature ReadTransactions;

<PageTitle>Trade Execution Page</PageTitle>

<p>
    This page allows Traders to execute manual trades when necessary, providing a more hands-on approach.
</p>

<p>
    <Set Columns="transationColumns" Rows="transactions"></Set>
</p>
Elements:
<br />
Order Entry Form: Traders can select the asset, choose the order type (market, limit, stop), and specify the quantity and price.
<br />
Order Book: Displays the real-time order book for the selected asset, allowing Traders to see market depth and place trades accordingly.
<br />
<br />

@code {
    List<Expression<Func<Transation, object>>> transationColumns = [];
    List<Transation> transactions = [];


    protected override async Task OnInitializedAsync() {
        transationColumns.Add(x => x.Id);
        transationColumns.Add(x => x.Name);

        var request = new Feature.Request() { Name = null};
        var response = await ReadTransactions.Execute(request, CancellationToken.None);
        transactions = response.Transactions.Select(x => new Transation(x.Id, x.Name)).ToList();
    }


    public record Transation(long Id, string Name);

}
