@page "/trader/dashboard"


<PageTitle>Trader / Dashboard</PageTitle>
<h3>Trader / Dashboard</h3>

 current portfolio (applied transactions)
 
 strategy performance (applied startegies)
 
 market conditions (favourite/acive assets)


  - Market Overview:
   - Asset List (real-time).
     - Asset | High | Low | Open | Current | Daily Change% [Visible, Condition, Alert, Action]
 
 - Portfolio Summary: 
   - Total portfolio value (total current value of all transactions) 
   - Daily change (total portfolio)
   - Position List. It can be clicked on any position to 
     - Position | OpendAt | Volume | Asset | High | Low | Open | Current | daily Change% | [details, rebalancing, liquidating] 

 - Strategy Performance: 
   - Strategy | ROI | win/loss ratio | drawdown | [details , adjustments]

@code {


    
}