@page "/trader/dashboard"


<PageTitle>Trader / Dashboard</PageTitle>

<br />Dashboard Overview:
<br />Usage: The Trader uses this as the primary landing page to get a snapshot of the current portfolio, strategy performance, and market conditions.
<br />Elements:
<br />Portfolio Summary: Shows the total portfolio value, daily change, and a list of key positions. The Trader can click on any position to view detailed data and take actions like rebalancing or liquidating.
<br />Market Overview Widget: Provides real-time data on tracked assets. Traders can customize which assets to display, set up alerts, and quickly react to market changes.
<br />Strategy Performance: Displays the ROI, win/loss ratio, and drawdown of active strategies. The Trader can click through to view more detailed analytics or make adjustments.
<br />
<br />

<h2>Market</h2>  @* market conditions (favourite/acive assets) *@
- Asset List (real-time)<br />
Asset | High | Low | Open | Current | Daily Change% [Visible, Condition, Alert, Action]
<br />
<br />


<h2>Portfolio</h2>  @* current portfolio (applied transactions) *@
   - Total portfolio value: 1 500 £ (total current value of all transactions) <br/>
   - Daily change (total portfolio <br />
   - Position List. It can be clicked on any position to <br/>
     Position | OpendAt | Volume | Asset | High | Low | Open | Current | daily Change% | [details, rebalancing, liquidating]
<br />
<br />

<h2>Strategies</h2>  @* strategy performance (applied startegies) *@
- Startegi List <br/>  
Strategy | ROI | win/loss ratio | drawdown | [details , adjustments]
<br />
<br />

@code {



}