@page "/trader/strategies"


<PageTitle>trader/strategies</PageTitle>
<h3>trader/strategies</h3>



- Strategy List: 
  Name | key metrics | rules | parameters | backtests 

  - view
  - edit, 
  - clone
  - activate/deactivate
  - delete
 

@code {


  


}