@model IEnumerable<WebAppMvc.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<div class="header-container">
    <h1>Posts</h1>
    <div class="action-links">
        <a asp-action="Create" asp-route-id="" class="icon-link" title="Create"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div id="filter">
        <form method="get" asp-route="Posts/Index">
            <button type="submit" class="btn btn-link" title="Search"><i class="bi bi-search"></i></button>
            <input type="text" id="filterText" name="filterText" />
        </form>
    </div>
</div>

<tablev1 for="@Model"></tablev1>