@page "/trader/dashboard"


<PageTitle>Trader / Dashboard</PageTitle>
<h3>Trader / Dashboard</h3>

 current portfolio
 
 strategy performance
 
 market conditions


 - Portfolio Summary: 
   - total portfolio value
   - daily change
   - list of key positions. It can be clicked on any position to 
     - Asset | valueme| opening | current | strat
     - detailed data 
     - rebalancing
     - liquidating

 - Market Overview: 
   - real-time data on tracked assets. 
     - asset | current | change%
     - customize which assets to display, 
     - set up alerts
     - quickly react to market changes.

 - Strategy Performance: 
   - Strategy | ROI | win/loss ratio | drawdown 
   - detailed analytics 
   - adjustments.

@code {


    
}