@page "/trader/transactions"

@using System.ComponentModel;
@using Business.Experts
@using Business.Experts.Trader.FindTransactions
@using TradingPortal.Blazor.Components.Shared

@inject NavigationManager NavigationManager
@inject Experts experts;

<PageTitle>Trade Execution Page</PageTitle>

<p>
    This page allows Traders to execute manual trades when necessary, providing a more hands-on approach.
</p>
    <DataList Model="@viewModel?.Transactions"></DataList> 
<p>
</p>
Elements:
<br />
Order Entry Form: Traders can select the asset, choose the order type (market, limit, stop), and specify the quantity and price.
<br />
Order Book: Displays the real-time order book for the selected asset, allowing Traders to see market depth and place trades accordingly.
<br />
<br />

@code {
    protected override async Task OnInitializedAsync() {
        inputModel = new("", HttpContext?.User?.Identity?.Name ?? "123");
        viewModel = await experts.Trader.FindTransactions(inputModel, Token);
    }
    ViewModel? viewModel;
    InputModel? inputModel ;
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    CancellationTokenSource tcs = new();
    CancellationToken Token => tcs.Token;    
}

